
* {
    box-sizing: border-box;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #2b2246;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
}

.box--shadow {
    box-shadow: 0 0 20px 10px #f1eaea;
}


/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Inter Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.arrow-icon {
    font-weight: 200;
    margin-left: 5px;
    transition: margin 0.3s;
}

.link-arrow:hover .arrow-icon {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */ 
.badge {
    border-radius: 15px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px){
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.3rem;
    }
}

/* Lists */

.list {
    list-style: none;
    /* color: var(--color-heading); */
    font-size: 2rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

/* Icons */
.icon {
    width: 50px;
    height: 50px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}

.icon-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #f9f3fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* buttons */

.button {
    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.button--outline {
    background-color: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}

.button--outline:hover {
    background-color: var(--color-heading);
    color: #fff;
}

.button--streched {
    padding-left: 5rem;
    padding-right: 5rem;
}

.button--block {
    width: 100%;
    display: inline-block;
}

.button--primary {
    background: var(--color-primary);
    color: #fff;
}

.button--primary:hover {
    background: #368cfc;
}

.button--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.button--secondary:hover {
    background: #14dcff;
}

.button--accent {
    background: var(--color-accent);
    color: #fff;
}

.button--accent:hover {
    background: #f83e0f;
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}

/* Input */

.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    color: var(--color-heading);
    outline: 0;
    font-size: 2rem;
    width: 100%;
}

.input-group {
    border: 1px solid var(--color-border);
    border: 0;
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding-left: 1rem;
}

.input-group .button {
    margin: 4px;
}

::placeholder {
    color: #cdcbd7;
}


@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}


/* Card */

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #f3f3f3;
    position: relative;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card--primary .card__header {
    background-color: var(--color-primary);
}

.card--primary .badge--primary {
    background-color: #4e99fa;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
}

.card--secondary .badge--secondary {
    background-color: #0fd0f1;
}

.card__header {
    padding: 2rem 2.5rem;
    color: #fff;
}

.card__header .badge {
    margin-left: 1.5rem;
}

.plan__name {
    margin-top: 0;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
}

.plan__price {
    font-size: 5rem;
    font-weight: 400;
}

.plan__billing-cycle {
    font-size: 2rem;
    opacity: 0.5;
}

.plan__description {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.plan .card {
    max-width: 500px;
    margin: 0 auto;
}

.card__body {
    padding: 0 2rem;
}

.card__body .list {
    margin-top: 4rem;
}

.card .list--tick .list__item {
    margin-bottom: 3rem;
}

.card .button {
    margin-bottom: 3rem;
}


@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__description {
        font-size: 1.6rem;
    }

    .card--primary {
        transform: scale(1.1);
    }
    
    .card--primary:hover {
        transform: scale(1.15);
    }
}

/* Popular badge */
.plan--popluar .card__header:before {
    content: url(/images/popular.svg);
    display: inline-block;
    width: 40px ;
    position: absolute;
    right: 20px;
    top: -5px;
}

/* Media object */

.media {
    display: flex;
    margin-bottom: 4rem;
}

.media__image {
    margin-top: 1rem;
}

.media__body {
    margin: 0 2rem;
}

.media__body p {
   margin-top: 0;
}

.media__title {

    margin-top: 0;

}

/* Quote */

.quote {
    line-height: 1.3;
    margin: 0; 
}

.quote__text {
    word-spacing: 3px;
    font-style: italic;
    /* font-size: 2rem; */
    letter-spacing: 1px;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.media__image .icon {
    position: relative;
    bottom: 12px;
}

.quote__author {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.quote__organization {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* grid */

.grid {
    display: grid;
    gap: 2rem;
}

.grid-1x2 {
}

.grid-1x3 {
}

@media screen and (min-width: 768px) {
    .grid-1x2 {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid-1x3 {
        grid-template-columns: repeat(3,1fr);
    }
}

/* Testimonial */
.testimonial {
    padding: 3rem;
}

.testimonial__image {
    position: relative;
}

.testimonial__image img {
    width: 100%;
}

.testimonial__image .icon-container {
    background-color: red;
    position: absolute;
    right: -32px;
    top: 15px;
}

.testimonial__image .icon {
    width: 30px;
}

.block-header {
    text-align: center;
}

.block-header h2 {
    font-size: 4rem;
}

@media screen and (min-width: 768px) {
    .testimonial .quote {
        margin: 5rem 0 0 6rem;
        font-size: 120%;
        line-height: 1.5;
    }

    .block {
        text-align: center;
    }
}

/* Callout */
.callout {
    background-color: var(--color-primary);
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
    border-radius: 10px;
}

.callout-content {
    color: #fff;
    text-align: center;
}

.callout h2 {
    margin-top: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.callout p {
    line-height: 1.3;
}

.callout .button {
    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .callout .grid-1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout-content {
        text-align: start;
    }
}

/* Collapsibles */

.collapsible {
    padding: 2rem 3rem;
}

.collapsible .collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.collapsible .collapsible__content {
    max-height: 0;
    opacity: 0;
}

.collapsible--expanded .chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* block */
.block {
}

.block--dark {
    background-color: #000;
}

.block--skewed-left {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.block--skewed-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.block__header h2{
    font-size: 4rem;
}

.block__header p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.5;
}

.container {
    padding: 3rem;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #000;
    font-size: 4rem;
}

.nav img {
    position: relative;
    bottom: 6px;
}

.nav .icon {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.nav__list {
    width: 100%;
    transition: all 0.3s ease-out;
    padding-left: 0;
    margin: 0.5rem;
}

.nav__list .list__item {
    padding: 1rem;
    border-bottom: 1px solid gray;
    color: #d2d0db;
    transition: color 0.3s;
    cursor: pointer;
}

.nav__list .list__item:hover {
    color: #fff;
}

.collapsible .list {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.collapsible--expanded .list {
    opacity: 1;
    max-height: 100%;
}

.collapsible--expanded .icon {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .collapsible .list {
        opacity: 1;
        max-height: 100%;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
    }

    .nav__list .list__item {
        border-bottom: 0;
        margin-left: 1rem;
    }
}

/* hero */

.hero {
    padding: 1.5rem;
    padding-bottom: 4rem;
}

.hero__content {
    align-self: center;
    text-align: center;
}

.hero__content h1 {
    color: #fff;
}

.hero__content p {
    color: #b9c3cf;
    font-size: 2rem;
    margin: 2rem 0;
}

.hero__image img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero {
        width: 80vw;
        margin: 0 auto;
    }
    .hero__content {
        text-align: start;
    }
}

/* domain block */

.domain {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
}

.domain .input-group {
    margin: 4rem 0 4rem 0;
}

.domain__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 6rem);
    padding-left: 0;
    justify-items: center;
    align-items: center;
}

.domain__list .list__item {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .domain__list {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

/* plan section */

.plan-block {
    padding: 2rem;
    margin-top: 4rem;
}

.plan-block .plan {
    margin-bottom: 6rem;
}

.plan-block .grid {
    gap: 4rem;
}

/* Showcase block */

.feature {
    padding: 2rem;
    margin:  8rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.feature img {
    width: 100%;
}

/* control panel */
.control-panel {
    padding: 3rem 1rem;
    text-align: start;
}

.control-panel .block__header {
    text-align: center;
}

.control-panel .list {
    /* color: 0; */
}

.control-panel h3,
.control-panel h2 {
    color: #fff;
}

.control-panel img {
    width: 100%;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .plan-block {
        max-width: 1200px;
        margin: 0 auto;
    }
    .control-panel .grid {
        grid-template-columns: 49% 49%;
    }
    .control-panel img {
        width: auto;
        max-width: 700px;
    }

    .control-panel picture {
        justify-self: end;
    }
}

/* testimonial block */

.testimonial-block {
    padding: 2rem;
    max-width: 1040px;
    margin: 0 auto;
}

.testimonial:hover {
    transform: scale(1);
}

.block .testimonial {
    margin-top: 2rem;
}

/* footer */

.footer {
    padding: 7rem 2rem;
}

.footer-section .list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer h3 {
    margin: 0;
    color: #fff;
}

.footer .collapsible {
    border-bottom: 1px solid #393939;
}

.footer-section .list .list__item {
    margin-bottom: 0.5rem;
}

.footer-section .list .list__item:hover {
    color: #fff;
}

.footer__brand {
    text-align: center;
    margin-top: 4rem;
}

.footer__brand p {
    margin: 0;
}

.footer .collapsible__header {
    margin: 0.3rem;
}

@media screen and (min-width: 768px) {
    .footer .collapsible {
        padding: 0;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        text-align: start;
    }

    .footer h3 {
        font-size: 2rem;
    }

    .footer .collapsible {
        border-bottom: 0;
    }

    .footer .collapsible .collapsible__content {
        max-height: 100%;
        opacity: 1;
    }   

    .footer .list {
        padding: 1rem 1rem;
        border-bottom: 0;
    }

    .footer .list .list__item {
        font-size: 1.5rem;
    }

    .footer .chevron {
        display: none;
    }
    .footer__brand {
        order: -1;
        margin: 0;
    }
}