* {
    box-sizing: border-box;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #2b2246;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
}


/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Inter Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-display: 2.4rem;
    }
}

/* links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.arrow-icon {
    font-weight: 200px;
    margin-left: 5px;
    transition: margin 0.3s;
}

.link-arrow:hover .arrow-icon {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */ 
.badge {
    border-radius: 15px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px){
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.3rem;
    }
}

/* Lists */

.list {
    list-style: none;
    color: var(--color-heading);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

/* Icons */
.icon {
    width: 50px;
    height: 50px;
}

.icon-primary {
    fill: var(--color-primary);
}

.icon-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #f9f3fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* buttons */

.button {
    padding: 2rem 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.button--outline {
    background-color: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}

.button--outline:hover {
    background-color: var(--color-heading);
    color: #fff;
}

.button--block {
    width: 100%;
    display: inline-block;
}

.button--primary {
    background: var(--color-primary);
    color: #fff;
}

.button--primary:hover {
    background: #368cfc;
}

.button--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.button--secondary:hover {
    background: #14dcff;
}

.button--accent {
    background: var(--color-accent);
    color: #fff;
}

.button--accent:hover {
    background: #f83e0f;
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}

/* Input */

.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    color: var(--color-heading);
    outline: 0;
    font-size: 2rem;
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding-left: 1rem;
}

.input-group .button {
    margin: 4px;
}

::placeholder {
    color: #cdcbd7;
}


@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}