<section class="block">
    <div class="block__header">
        <h2>What our Customers are Saying</h2>
        <p>Lorem ipsum dolor sit, soluta excepturi illo repellat necessitatibus laudanti</p>
    </div>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid-1x2">
                <div class="testimonial__image">
                    <img src="images/testimonial.jpg" alt="">
                    <span class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="./images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque tempore nostrum
                        beatae dignissimos cumque aliquid?</p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                <svg class="icon icon--primary">
                                    <use xlink:href="./images/sprite.svg#line"></use>
                                </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="quote__author">John Smith</h3>
                                <p class="quote__organization">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
         </div>
    </div>
</section>