<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2>Item 1</h2>
        <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
     </header>
     <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum voluptas id harum.
     </div>
 </div>
 <div class="collapsible">
    <header class="collapsible__header">
        <h2>Item 1</h2>
        <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
     </header>
     <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum voluptas id harum.
     </div>
 </div>