<footer class="footer block block--dark">
    <section class="footer-section">
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3>PRODUCT</h3>
                <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
             </header>
             <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Website Hosting</li>
                    <li class="list__item">Free Automated Wordpress</li>
                    <li class="list__item">Migrations</li>
                </ul>
             </div>
         </div>
    </section>
    <section class="footer-section">
        <div class="collapsible">
            <header class="collapsible__header">
                <h3>COMPANY</h3>
                <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
             </header>
             <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Website Hosting</li>
                    <li class="list__item">Free Automated Wordpress</li>
                    <li class="list__item">Migrations</li>
                </ul>
             </div>
         </div>
    </section>
    <section class="footer-section">
        <div class="collapsible">
            <header class="collapsible__header">
                <h3>SUPPORT</h3>
                <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
             </header>
             <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Website Hosting</li>
                    <li class="list__item">Free Automated Wordpress</li>
                    <li class="list__item">Migrations</li>
                </ul>
             </div>
         </div>
    </section>
    <section class="footer-section">
        <div class="collapsible">
            <header class="collapsible__header">
                <h3>DOMAIN</h3>
                <span class="chevron"><img width="40px" src="images/chevron.svg" alt=""></span>
             </header>
             <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Website Hosting</li>
                    <li class="list__item">Free Automated Wordpress</li>
                    <li class="list__item">Migrations</li>
                </ul>
             </div>
         </div>
    </section>
    <div class="footer__brand">
        <a href="#"><img src="images/logo.svg" alt="a image of logo"></a>
        <p>Copyright 2025 Mosh Hemadani</p>
    </div>
</footer>